.imagenes{
	width: 230px;
	height: 150px;
}

article,aside,header{
border:1px solid black;
}

aside {
    background-color: #333333;
}

.articulo{
	width: 32.9%;
	display: inline-block;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

li{
	display: inline-block;
}

section{
	width: 100%;
}
.pointer:hover {
    opacity: .8;
    cursor:pointer;
}
.btnCarro{
    float:right;
}
.listaMenu{
    display:inline-block;
}
li a,h2{
    color:black;
}
.btn .badge {
    margin-left: 8px;
    background-color: #d65050;
}
.listamenu li:hover{
background-color:#1093ce;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111 !important;
        }
/* MEDIA QUERIES */


@media (min-width: 0px) {
    .articulo {
        width: 100%;
        display: inline-block;
    }
    h3{
        text-align:center;
    }
    h1 {
        margin-left: 50px !important;
        text-align: center !important;
    }
    #logo {
        width: 100%;
    }
    li{
        display:block;
    }
    .btnCarro{
        width:100%;
    }
}
@media (min-width: 600px) {
    .articulo {
        width: 45%;
        display: inline-block;
    }
    h3 {
        text-align: center;
    }
    #logo {
        width: 30%;
    }
    .btnCarro {
        width: 20%;
    }
}
@media (min-width: 800px) {
    .articulo {
        width: 32.9%;
        display: inline-block;
    }
    h1 {
        margin-top: 95px !important;
        margin-left: 150px !important;
    }
    h3 {
        text-align: left;
    }
    #logo {
        width: 15%;
    }
    .btnCarro {
        width: 10%;
    }

}

