.imagenes{
	width: 230px;
	height: 150px;
}

article,aside,header{
border:1px solid black;
}

aside{
	background-color: #04a9f4;
	height: 15%;
}

.articulo{
	width: 32.9%;
	display: inline-block;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

li{
	display: inline-block;
}

section{
	width: 100%;
}
.pointer:hover {
    opacity: .7;
    cursor:pointer;
}
.btnCarro{
    float:right;
}
.listaMenu{
    display:inline-block;
}